
.messege {
    padding: 10px 10px 10px 10px;
    margin-right: 10px;
    max-height: 50px;
    display: grid;
    grid-template-rows: minmax(30px, auto) 1fr;
    grid-template-columns: minmax(30px, 60px) 1fr;
    grid-template-areas:
        "avatar username"
        "avatar text";
}

.text {
    grid-area: text;
    
}

.avatar {
    grid-area: avatar;
}
.avatar img{
    height: 36px;
    width: 36px;
    border-radius: 50%;
    position: relative;
    bottom: -20px;
    right: -15px;

}
.link{
    list-style-type: none;
}
.username{
    grid-area: username
}