.content {
    grid-column: 3 / 4;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: minmax(250px, auto) minmax(550px, auto);
    grid-gap: 15px;
    grid-template-areas: 
    "content__usersettings content__userinfo"
    "content__usersettings content_userposts";
}


.userinfo {
    grid-area: content__userinfo;
    padding: 15px 15px 15px 15px;
    border-radius: 3px;
    border: 0.5px solid #dce1e6;
    background: #fff;
}
.username{
    border-bottom: 0.5px solid #dce1e6;
}
.list{
    padding: 15px 15px;
    border-bottom: 0.5px solid #dce1e6;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
    "userinfo__birthday"
    "userinfo__country"
    "userinfo__education";
}
.birthday {
    grid-area: userinfo__birthday;
    display: flex;
}
.birthday__key {
    min-width: 100px;
    color: #818c99;
    padding-right: 50px;
}
.birthday__value {
   color: #2a5885
}
.country {
    grid-area: userinfo__country;
    display: flex;
}
.country__key {
    min-width: 100px;
    color: #818c99;
    padding-right: 50px;
}
.country__value {
    color: #2a5885
 }
.education {
    grid-area: userinfo__education;
    display: flex;
}
.education__key {
    min-width: 100px;
    color: #818c99;
    padding-right: 50px;
}
.education__value {
    color: #2a5885
 }