.content {
    grid-column: 3 / 4;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: minmax(250px, auto) minmax(550px, auto);
    grid-gap: 15px;
    grid-template-areas: 
    "content__usersettings content__userinfo"
    "content__usersettings content_userposts";
}
.userpost_content {
    grid-area: content_userposts;
    border-radius: 3px;
    border: 0.5px solid #dce1e6;
    background: #fff;
    display: grid;
    grid-template-rows: minmax(60px, auto) 1fr;
}
