.content {
    grid-column: 3 / 4;
    display: flex;
    justify-content: space-between;
}
.userpost_content {
    margin: 0px 15px 15px 15px;
    grid-area: content_userposts;

    display: block;
}
.search {
    padding: 10px 10px 10px 10px;
    margin: 0px 15px 0px 15px;
    background: #fff;
    border-radius: 3px;
    border: 0.5px solid #dce1e6;
    border-bottom: none;
}
.search input {
    width: 100%;
    border: none;
    outline: none;
}
.test{
    width: 650px;
}