.sidebar {
    grid-column: 2 / 3;
}
.sidebar ul{
    padding: 0px;
}
.list {
    list-style-type: none; /* Убираем маркеры */
}
.list a{
    text-decoration: none; /* подчеркивание */
    color: #000000;

}